	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1000px;
	}

	#pu100
	{
		padding-bottom: 0px;
		margin-right: -10000px;
	}

	#u100
	{
		min-height: 558px;
		padding-bottom: 92px;
	}

	#pu2956
	{
		width: 66.4%;
		margin-left: 16.8%;
	}

	#u2956
	{
		width: 66.42%;
		left: 16.87%;
	}

	#u618
	{
		margin-top: 297px;
	}

	#u614-4
	{
		min-height: 72px;
		width: 100%;
	}

	#u604
	{
		margin-top: 43px;
		width: 13.11%;
		margin-left: 43.45%;
		left: -1px;
	}

	#u324-6
	{
		margin-top: 75px;
		width: 6.2%;
		left: 46.9%;
	}

	#u100-bw
	{
		min-height: 558px;
	}

	#u131_position_content
	{
		margin-top: -1px;
		padding-bottom: 62px;
		width: 100%;
	}

	#u1032
	{
		width: 87%;
		left: 6.5%;
	}

	#u627
	{
		margin-top: 58px;
		width: 10.9%;
		left: 44.6%;
	}

	#u1294-4
	{
		margin-top: 32px;
		width: 71.3%;
		margin-left: 14.36%;
	}

	#u633
	{
		margin-top: 28px;
		width: 11.1%;
		left: 44.5%;
	}

	#u131,#u131-bw
	{
		min-height: 340px;
	}

	#u122
	{
		min-height: 1005px;
		padding-bottom: 228px;
	}

	#u2517
	{
		margin-top: 100px;
		width: 23.5%;
		margin-left: 38.25%;
	}

	#u2517:hover
	{
		margin-top: 100px;
		width: 23.5%;
		margin-left: 38.25%;
	}

	#pu2709
	{
		margin-right: -10000px;
		margin-top: 435px;
		width: 23.5%;
		margin-left: 6.5%;
	}

	#ppu100,#pu122,#u2709
	{
		width: 100%;
	}

	#u2709:hover
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 100%;
	}

	#u2709:active
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 100%;
	}

	#u3247
	{
		margin-top: 100px;
		width: 100%;
	}

	#u3247:hover
	{
		margin-right: 0px;
		margin-top: 100px;
		width: 100%;
	}

	#u3247:active
	{
		margin-right: 0px;
		margin-top: 100px;
		width: 100%;
	}

	#pu2527
	{
		margin-right: -10000px;
		margin-top: 100px;
		width: 23.5%;
		margin-left: 38.25%;
	}

	#u2527
	{
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#u2527:hover
	{
		margin-right: 0px;
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#u2527:active
	{
		margin-right: 0px;
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#u2719
	{
		margin-top: 100px;
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#u2719:hover
	{
		margin-right: 0px;
		margin-top: 100px;
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#u2749
	{
		margin-top: 100px;
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#u2719:active,#u2749:hover
	{
		margin-right: 0px;
		margin-top: 100px;
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#u2749:active
	{
		margin-right: 0px;
		margin-top: 100px;
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#u2517:active,#pu2537
	{
		margin-top: 100px;
		width: 23.5%;
		margin-left: 38.25%;
	}

	#u122:hover,#u122-bw
	{
		min-height: 1005px;
	}

	#u1036
	{
		margin-right: -10000px;
		margin-top: -1px;
		width: 87%;
		left: 6.5%;
	}

	#pu342-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 622px;
		width: 25.5%;
		margin-left: 37.25%;
	}

	#u342-4
	{
		min-height: 56px;
		width: 82.36%;
		margin-left: 8.83%;
		left: 10.5px;
	}

	#u636-4
	{
		margin-top: 282px;
		width: 100%;
		margin-left: 0%;
		left: 0.5px;
	}

	#pu125
	{
		margin-top: 1px;
	}

	#u125
	{
		min-height: 60px;
		padding-bottom: 449px;
	}

	#u125_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u3149
	{
		margin-top: 28px;
		width: 87%;
		left: 6.5%;
	}

	#u3131-4
	{
		width: 25.5%;
		margin-left: 37.25%;
		left: 1px;
	}

	#u125-bw
	{
		min-height: 60px;
	}

	#widgetu1305
	{
		margin-top: 82px;
		left: 22.5%;
	}

	#u1307-17
	{
		background-image: url("../images/u1307-17.png");
	}

	#u1307-17:hover
	{
		background-image: url("../images/u1307-17-r.png");
	}

	#u1307-17:active
	{
		background-image: url("../images/u1307-17-m.png");
	}

	#widgetu1305.frm-sub-st #u1307-17
	{
		background-image: url("../images/u1307-17-fs.png");
	}

	#u3047
	{
		margin-right: -10000px;
		margin-top: 298px;
		width: 15.4%;
		left: 8.5%;
	}

	#u2078
	{
		width: 25.98%;
	}

	#u2078:hover
	{
		width: 25.98%;
	}

	#u2133
	{
		width: 25.98%;
		left: 37.02%;
	}

	#u2078.MuseLinkActive,#u2133:hover
	{
		width: 25.98%;
	}

	#u2133:active
	{
		width: 25.98%;
	}

	#u2194
	{
		width: 25.98%;
		left: 74.03%;
	}

	#u2133.MuseLinkActive,#u2194:hover
	{
		width: 25.98%;
	}

	#u2194.MuseLinkActive
	{
		width: 25.98%;
	}

